<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png"> -->
    <title>File Pile</title>

    <link href="{% static "css/lib/chartist/chartist.min.css" %}" rel="stylesheet">
	  <link href="{% static "css/lib/owl.carousel.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/lib/owl.theme.default.min.css" %}" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/lib/bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "css/helper.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
      <!-- header header  -->
      <div class="header">
          <nav class="navbar top-navbar navbar-expand-md navbar-light">
              <!-- Logo -->
              <div class="navbar-header">
                  <a class="navbar-brand" href="{% url 'files_view' %}">
                      <!-- Logo icon -->
                      <b><img src="{% static "images/logo.png" %}" alt="homepage" class="dark-logo" style="height:40px"/></b>
                      <!--End Logo icon -->
                      <!-- Logo text -->
                      <!-- <span> <img src="images/logo-text.png" alt="homepage" class="dark-logo" /> </span> -->
                      <span style="color: #474A55"> <b>File Pile</b> </span>
                  </a>
              </div>
              <!-- End Logo -->
              <div class="navbar-collapse">
                  <!-- toggle and nav items -->
                  <ul class="navbar-nav mr-auto mt-md-0">
                      <!-- This is  -->
                      <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                      <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                      <!-- Search -->
                      <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
                          <form class="app-search">
                            <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a>
                          </form>
                      </li>
                  </ul>
                  <!-- User profile and search -->
                  <ul class="navbar-nav my-lg-0">
                      <!-- Comment -->
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-muted text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bell"></i>
                      <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </a>
                          <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                              <ul>
                                  <li>
                                      <div class="drop-title">Notifications</div>
                                  </li>
                                  <li>
                                      <div class="message-center">
                                          <!-- Message -->
                                          <a href="#">
                                              <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i></div>
                                              <div class="mail-contnet">
                                                  <h5>This is title</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                              </div>
                                          </a>
                                          <!-- Message -->
                                          <a href="#">
                                              <div class="btn btn-success btn-circle m-r-10"><i class="ti-calendar"></i></div>
                                              <div class="mail-contnet">
                                                  <h5>This is another title</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                                              </div>
                                          </a>
                                          <!-- Message -->
                                          <a href="#">
                                              <div class="btn btn-info btn-circle m-r-10"><i class="ti-settings"></i></div>
                                              <div class="mail-contnet">
                                                  <h5>This is title</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                              </div>
                                          </a>
                                          <!-- Message -->
                                          <a href="#">
                                              <div class="btn btn-primary btn-circle m-r-10"><i class="ti-user"></i></div>
                                              <div class="mail-contnet">
                                                  <h5>This is another title</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                              </div>
                                          </a>
                                      </div>
                                  </li>
                                  <li>
                                      <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                  </li>
                              </ul>
                          </div>
                      </li>
                      <!-- End Comment -->
                      <!-- Profile -->
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static "images/users/5.jpg" %}" alt="user" class="profile-pic" /></a>
                          <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                              <ul class="dropdown-user">
                                  <li><a href="{% url 'profile_settings' %}"><i class="ti-user"></i> Profile</a></li>
                                  <li><a href="{% url 'profile_settings' %}"><i class="ti-settings"></i> Setting</a></li>
                                  <li role="separator" class="divider"></li>
                                  <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <div class="left-sidebar">
          <!-- Sidebar scroll-->
          <div class="scroll-sidebar">
              <!-- Sidebar navigation-->
              <nav class="sidebar-nav">
                  <ul id="sidebarnav">
                      <li class="nav-devider"></li>

                      <li> <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Home</span></a>
                          <ul aria-expanded="false" class="collapse">
                              <li><a href="{% url 'files_view' %}">Files</a></li>
                              <li><a href="{% url 'share_view' %}">Shared Files</a></li>
                          </ul>
                      </li>

                      <li> <a href="{% url 'profile_settings' %}" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Profile</span></a></li>

                      <li> <a class="" href="{% url 'about_sec' %}" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">About us</span></a></li>
                  </ul>
              </nav>
              <!-- End Sidebar navigation -->
          </div>
          <!-- End Sidebar scroll-->
      </div>
      <!-- End Left Sidebar  -->

        <!-- Page wrapper  -->
        <div class="page-wrapper">

          <!-- Main content will be here -->
          {% block content %}{% endblock %}

          <!-- footer -->
          <footer class="footer"> © 2018 All rights reserved.</footer>
          <!-- End footer -->
        </div>
        <script type="text/javascript">
          function delete_alert()
          {
            swal("Are you sure you want to do this?", {
            buttons: ["NO", "YES"],
          });
          }
          function download_alert()
          {
            swal("Download","","success")
          }
          function share_alert()
          {
            swal("Email", {
           content: "input",
         })
    			.then((value) => {
    			  if(!value) throw null
    			  swal(`Shared`);
    			});
          }
        </script>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{% static "js/lib/jquery/jquery.min.js" %}" ></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "js/lib/bootstrap/js/popper.min.js" %}" ></script>
    <script src="{% static "js/lib/bootstrap/js/bootstrap.min.js" %}" ></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static "js/jquery.slimscroll.js" %}" ></script>
    <!--Menu sidebar -->
    <script src="{% static "js/sidebarmenu.js" %}" ></script>
    <!--stickey kit -->
    <script src="{% static "js/lib/sticky-kit-master/dist/sticky-kit.min.js" %}" ></script>

    <!-- alert -->
    <!-- <script src="{% static "js/lib/sweetalert/sweetalert.min.js" %}" ></script> -->
    <!-- scripit init-->
    <!-- <script src="{% static "js/lib/sweetalert/sweetalert.init.js" %}" ></script> -->

    <script src="{% static "js/lib/datamap/d3.min.js" %}" ></script>
    <script src="{% static "js/lib/datamap/topojson.js" %}" ></script>
    <script src="{% static "js/lib/datamap/datamaps.world.min.js" %}" ></script>
    <script src="{% static "js/lib/datamap/datamap-init.js" %}" ></script>

    <script src="{% static "js/lib/weather/jquery.simpleWeather.min.js" %}" ></script>
    <script src="{% static "js/lib/weather/weather-init.js" %}" ></script>
    <script src="{% static "js/lib/owl-carousel/owl.carousel.min.js" %}" ></script>
    <script src="{% static "js/lib/owl-carousel/owl.carousel-init.js" %}" ></script>

    <!-- <script src="{% static "js/scripts.js" %}" ></script> -->


    <script src="{% static "js/lib/chartist/chartist.min.js" %}" ></script>
    <script src="{% static "js/lib/chartist/chartist-plugin-tooltip.min.js" %}" ></script>
    <script src="{% static "js/lib/chartist/chartist-init.js" %}" ></script>
    <!--Custom JavaScript -->
    <script src="{% static "js/custom.min.js" %}" ></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>
