{% extends "project_app/base.html" %}

{% block content %}

            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Files</h3> </div>
                <!-- <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Files</li>
                    </ol>
                </div> -->
            </div>
            <!-- End Bread crumb -->

            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-upload f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>50</h2>
                                    <p class="m-b-0">Total Upload</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-share-square f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>11</h2>
                                    <p class="m-b-0">Shared with you</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-download f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>20</h2>
                                    <p class="m-b-0">Total Download</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-user f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>500</h2>
                                    <p class="m-b-0">Visited</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Alear for upload download delete -->
                <div class="row">
                  <div class="col-lg-12">
                    <div class="alert alert-primary alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Uploaded successfully! And the new file has been added to your file list!
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <div class="alert alert-warning alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        The file is downloading, please wait!
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Delete the file successfully!
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4">
                    <div class="button-list">
                      <div class="btn-group">

                        <div class="upload-btn-wrapper">
                          <button class="btn-upload">Upload File</button>
                          <input type="file" name="upload-file" accept="image/*" />
                        </div>

                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Sort<span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Sort by Name</a></li>
                          <li><a href="#">Sort by Date</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                      <div class="card">
                          <div class="card-title">
                              <h4>Your Files</h4>
                          </div>
                          <div class="card-body">
                              <div class="table-responsive">
                                  <table class="table table-hover ">
                                      <thead>
                                          <tr>
                                              <th>#</th>
                                              <th>Name</th>
                                              <th>Size</th>
                                              <th>Upload Date</th>
                                              <th>Download</th>
                                              <th>Delete</th>
                                              <th>Share</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <th scope="row">1</th>
                                              <td>Kolor Tea Shirt For Man</td>
                                              <td>22 MB</td>
                                              <td>January 22</td>
                                              <td><button class="btn btn-success btn sweet-success" onclick="download_alert();">Download</button></td>
                                              <td><button type="button" class="btn btn-danger m-b-10 m-l-5" onclick="delete_alert();">Delete </button></td>
                                              <td><button type="button" class="btn btn-info m-b-10 m-l-5" onclick="share_alert();">Share</button></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2</th>
                                            <td>Kolor Tea Shirt For Man</td>
                                            <td>22 MB</td>
                                            <td>January 22</td>
                                            <td><button class="btn btn-success btn sweet-success"onclick="download_alert();">Download</button></td>
                                            <td><button type="button" class="btn btn-danger m-b-10 m-l-5" onclick="delete_alert();">Delete</button></td>
                                            <td><button type="button" class="btn btn-info m-b-10 m-l-5"onclick="share_alert();">Share</button></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">3</th>
                                            <td>Kolor Tea Shirt For Man</td>
                                            <td>22 MB</td>
                                            <td>January 22</td>
                                            <td><button class="btn btn-success btn sweet-success" onclick="download_alert();" >Download</button></td>
                                            <td><button type="button" class="btn btn-danger m-b-10 m-l-5" onclick="delete_alert();">Delete</button></td>
                                            <td><button type="button" class="btn btn-info m-b-10 m-l-5" onclick="share_alert();">Share</button></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                      <!-- /# card -->
                  </div>
                </div>
                <!-- End page content -->
            </div>
            <!-- End Container fluid  -->

{% endblock %}
